.App {
  font-family: "Libre Baskerville", serif;
  color: whitesmoke;
}
h1 {
  text-transform: capitalize;
  text-align: center;
  font-size: 48px;
  padding-top: 0;
}
ul {
  list-style: none;
}
li {
  padding: 0px;
}
img {
  display: block;
  margin: 0 auto;
  margin-top: -20px;
  margin-left: -5px;
  width: 70px;
}
footer {
  text-align: center;
  font-family: "Libre Baskerville", serif;
  color: grey;
}
.app-body {
  box-sizing: border-box;
  background-image: url(https://i.pinimg.com/564x/51/17/90/5117908f2bd3aa0e0aaf4f2655cd8bfa.jpg);
  border: 1px solid #8ed7ce;
  border-radius: 5px;
  display: block;
  margin: 20px auto;
  padding: 10px;
  max-width: 500px;
  max-height: 650px;
}
.navbar {
  justify-content: space-evenly;
}
#cityTime {
  display: block;
  padding: 0px;
  margin: 0 auto;
}
#currentTime {
  font-size: 20px;
  text-align: center;
}
#tempDescription {
  position: relative;
  display: block;
  text-align: center;
  top: 1em;
}
#description {
  text-transform: capitalize;
  font-size: 20px;
}
#topIcon {
  position: relative;
  left: 10px;
  width: 120px;
}
.temp-current {
  position: relative;
  top: 20px;
  font-size: 55px;
}
.details {
  position: relative;
  padding-left: 0px;
  padding-right: 0px;
  top: 60px;
  line-height: 1em;
  font-size: 15px;
}

.daily-forecast {
  display: inline-flexbox;
  justify-content: space-evenly;
  padding-top: 125px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}
.day {
  font-size: 18px;
  padding-top: 5px;
  padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 2px 2px 2px 2px #018093;
}
