h1 {
  text-transform: capitalize;
  text-align: center;
  font-size: 48px;
  padding-top: 0;
}
ul {
  list-style: none;
}
li {
  padding: 0px;
}
img {
  display: block;
  margin: 0 auto;
  margin-top: -20px;
  margin-left: -5px;
  width: 70px;
}
.navbar {
  justify-content: space-evenly;
}
#cityTime {
  display: block;
  padding: 0px;
  margin: 0 auto;
}
#currentTime {
  font-size: 20px;
  text-align: center;
}
#tempDescription {
  position: relative;
  display: block;
  text-align: center;
  top: 1em;
}
#description {
  text-transform: capitalize;
  font-size: 20px;
}
#topIcon {
  position: relative;
  left: 10px;
  width: 120px;
}
.temp-current {
  position: relative;
  top: 20px;
  font-size: 55px;
}
.details {
  position: relative;
  padding-left: 0px;
  padding-right: 0px;
  top: 60px;
  line-height: 1em;
  font-size: 15px;
}
